canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

  .detailed-chart-container {
		width: 1000px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 40px;
	}
  .chart-container {
		width: 500px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 40px;
	}
	.parent-chart-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}



.chart-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.chart-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dataTables_wrapper {
    font-family: tahoma;
    font-size: 12px;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}


//
/* Style the list (remove margins and bullets, etc) */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the list items */
ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  display: inline-block;
  position: relative;
}

ul li img {
  position: static;
  top: 15%;
  right: 0%;
  padding: 5px 5px;
}

/* Add a light grey background color on hover */
ul li:hover {
  background-color: #eee;
}

/* Style the close button (span) */
.closeList {
  cursor: pointer;
  position: static;
  top: 50%;
  right: 0%;
  padding: 3px 3px;
  transform: translate(0%, -50%);
}

.closeList:hover {background: #bbb;}

a.btn.btn-primary {color: #fff;}